* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

.header-header,
.img-logo {
  display: none;
}

.big-screen-list {
  display: none;
}

.display {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #272a31;
  padding: 2rem;
}

.display ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0;
}

.display a {
  color: #ddd;
  text-decoration: none;
}

.close-button {
  width: 3rem;
  height: 3rem;
  color: #ddd;
  border: none;
}

.fa-solid {
  font-size: 2rem;
}

.menu-menu {
  height: 3rem;
  width: 3rem;
  padding: 0 1.5rem;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.nav,
.first-class {
  background-image: url('./images/bg-images/home-bg-desk.png');
  background-size: cover;
  background-position: 30% 50%;
  background-repeat: no-repeat;
}

.first-class {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem 1.5rem;
  text-align: center;
}

.sub-header {
  color: #ec5242;
  font-size: 18px;
}

.main-title {
  font-size: 2rem;
  color: #ec5242;
  font-weight: 900;
}

.main-paragraph {
  font-size: medium;
  background-color: #fff;
  padding: 20px;
  text-align: start;
}

.sub-paragraph {
  font-size: medium;
}

.logo-history {
  text-align: center;
}

.logo-title {
  font-size: larger;
}

.line-1 {
  border: 1px solid #ec5242;
  width: 10%;
  margin-top: 0;
}

.image-and-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #ddd;
  margin: auto;
}

.line-and-para {
  display: flex;
  flex-direction: column;
}

.more-description {
  display: flex;
  flex-direction: column;
  margin: auto;
}

hr {
  width: 60%;
}

.logo-image {
  width: 80%;
  margin-top: 20px;
}

.past-events {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  margin: auto;
}

.past-events-photos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
}

.event-image-1 {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(153, 48, 22, 0.6), rgba(153, 48, 22, 0.6)), url(./images/doha.jpg);
  background-size: cover;
  background-position: center center;
  background-clip: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1rem;
  color: #ddd;
}

.event-image-2 {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(153, 48, 22, 0.6), rgba(153, 48, 22, 0.6)), url(./images/71st.jpg);
  background-size: cover;
  background-position: center center;
  background-clip: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1rem;
  color: #ddd;
}

.event-location {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.event-time {
  font-weight: bolder;
}

.footer-section-1 {
  background-color: #272a31;
  padding: 3rem 1.5rem;
}

.footer-title {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  align-items: center;
}

.partners-logo {
  height: 3rem;
  width: 3.5rem;
}

.footer-section-2 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 10px;
}

.headers {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.paragraphs {
  font-size: 12px;
}

.copyright-name {
  border: 2px solid #272a31;
  border-radius: 50%;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .header-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 9rem;
    background-color: #272a31;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .fa-brands {
    color: #fff;
  }

  .header-link a {
    color: #fff;
    text-decoration: none;
  }

  #menu-icon,
  #close-icon {
    display: none;
  }

  .img-logo {
    display: block;
    height: 4rem;
    padding-left: 1rem;
  }

  .nav,
  .first-class {
    background: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 8rem;
    align-items: center;
    height: 5rem;
    background-color: #fff;
  }

  .big-screen-list {
    display: block;
  }

  .nav-desk-list {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .extra a {
    border-width: 6px;
    border-color: #ec5242;
    border-style: solid;
    padding: 5px;
  }

  .bg-list-item a {
    color: #272a31;
    text-decoration: none;
  }

  .bg-list-item a:active {
    color: #ec5242;
  }

  .first-class {
    background-image: url('./images/bg-images/home-bg-desk.png');
    background-size: cover;
    background-position: 30% 50%;
    background-repeat: no-repeat;
  }

  .firstclass-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .sub-header {
    display: none;
  }

  .main-title {
    font-size: 4rem;
    color: #ec5242;
    font-weight: 900;
  }

  .main-paragraph {
    width: 80%;
    padding: 1rem 3rem;
    text-align: start;
  }

  .sub-paragraph {
    text-align: center;
  }

  .logo-history {
    width: 50%;
    margin: auto;
  }

  .image-and-subtitle {
    width: 60%;
    height: auto;
  }

  .line-and-para {
    gap: 0;
  }

  .past-events-photos {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: auto;
  }

  .line-12 {
    width: 3%;
  }

  .line-11 {
    width: 5%;
  }

  .footer-1-container {
    display: none;
  }

  .footer-2-container {
    background-color: #272a31;
    color: #ddd;
  }

  .copyright-name {
    border: 2px solid #ddd;
    border-radius: 100%;
    padding: 5px;
}

  .footer-section-2 {
    width: 30%;
    margin: auto;
    display: flex;
    gap: 3rem;
  }
}
